# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv("city_data.csv")
cities_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,3874787.0,punta arenas,84.0,CL,1.596082e+09,85.0,-53.15,-70.92,0.00,2.10
1,476732.0,vasilsursk,62.0,RU,1.596083e+09,81.0,56.13,46.01,18.81,4.05
2,3833367.0,ushuaia,20.0,AR,1.596082e+09,74.0,-54.80,-68.30,3.00,6.20
3,4030556.0,rikitea,100.0,PF,1.596083e+09,87.0,-23.12,-134.97,22.64,6.20
4,3894426.0,coihaique,100.0,CL,1.596083e+09,86.0,-45.58,-72.07,-1.00,1.50
...,...,...,...,...,...,...,...,...,...,...
531,729114.0,kutum,0.0,BG,1.596083e+09,59.0,43.41,23.23,22.55,1.20
532,2138103.0,rapu-rapu,77.0,NC,1.596083e+09,54.0,-21.62,166.22,29.00,5.70
533,110690.0,berlevag,100.0,SA,1.596083e+09,87.0,18.39,42.45,18.00,2.19
534,6324729.0,hailey,20.0,CA,1.596083e+09,82.0,44.65,-63.57,20.00,1.49
535,1067565.0,iaciara,18.0,MG,1.596083e+09,95.0,-25.17,45.05,15.78,2.81

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
# Store 'Lat' and 'Lng' into  locations 
locations = cities_df[["Lat", "Lng"]].astype(float)

humidity_rate = cities_df["Humidity"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity_rate, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
indexNames = cities_df[cities_df['Cloudiness'] > 0].index
cities_df.drop(indexNames , inplace=True)
cities_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
6,684269.0,bolintin deal,0.0,RO,1.596083e+09,69.0,44.46,25.82,26.11,1.00
18,2520493.0,sahrak,0.0,ES,1.596083e+09,50.0,39.57,2.51,26.11,1.50
21,3470137.0,lagoa,0.0,BR,1.596083e+09,88.0,-15.86,-38.88,18.00,1.50
29,3115824.0,dingle,0.0,ES,1.596083e+09,89.0,42.78,-9.06,18.89,2.41
33,3401148.0,lolua,0.0,BR,1.596083e+09,95.0,-1.83,-44.87,22.93,0.68
...,...,...,...,...,...,...,...,...,...,...
504,1024552.0,atar,0.0,MZ,1.596083e+09,87.0,-25.05,33.64,15.10,1.49
505,2027786.0,basco,0.0,RU,1.596083e+09,40.0,60.90,131.96,22.82,2.65
509,3164387.0,ereymentau,0.0,IT,1.596083e+09,73.0,41.88,16.18,23.00,1.00
515,3356213.0,cartagena,0.0,NaN,1.596083e+09,37.0,-20.37,14.97,12.79,3.29
531,729114.0,kutum,0.0,BG,1.596083e+09,59.0,43.41,23.23,22.55,1.20

In [6]:
indexNames = cities_df[cities_df['Max Temp'] > 25].index
cities_df.drop(indexNames , inplace=True)
cities_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
21,3470137.0,lagoa,0.0,BR,1.596083e+09,88.0,-15.86,-38.88,18.00,1.50
29,3115824.0,dingle,0.0,ES,1.596083e+09,89.0,42.78,-9.06,18.89,2.41
33,3401148.0,lolua,0.0,BR,1.596083e+09,95.0,-1.83,-44.87,22.93,0.68
54,3831208.0,jiayuguan,0.0,GL,1.596083e+09,80.0,77.48,-69.36,2.59,0.59
73,922704.0,thompson,0.0,CD,1.596083e+09,91.0,-11.66,27.48,9.72,1.84
...,...,...,...,...,...,...,...,...,...,...
504,1024552.0,atar,0.0,MZ,1.596083e+09,87.0,-25.05,33.64,15.10,1.49
505,2027786.0,basco,0.0,RU,1.596083e+09,40.0,60.90,131.96,22.82,2.65
509,3164387.0,ereymentau,0.0,IT,1.596083e+09,73.0,41.88,16.18,23.00,1.00
515,3356213.0,cartagena,0.0,NaN,1.596083e+09,37.0,-20.37,14.97,12.79,3.29
531,729114.0,kutum,0.0,BG,1.596083e+09,59.0,43.41,23.23,22.55,1.20

In [12]:
indexNames = cities_df[cities_df['Max Temp'] < 20].index
cities_df.drop(indexNames , inplace=True)
cities_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
33,3401148.0,lolua,0.0,BR,1.596083e+09,95.0,-1.83,-44.87,22.93,0.68,Pousada Través'cia
96,5808079.0,san quintin,0.0,US,1.596083e+09,61.0,47.67,-122.12,23.89,1.91,Seattle Marriott Redmond
110,3171173.0,hobart,0.0,IT,1.596083e+09,77.0,43.90,12.89,23.89,1.79,Savoy
180,3170094.0,ketchikan,0.0,IT,1.596083e+09,69.0,42.81,10.31,23.33,1.27,Hotel Villa Ombrosa
280,2017215.0,gorom-gorom,0.0,RU,1.596083e+09,47.0,63.92,127.47,21.93,1.49,
323,1526041.0,bandarbeyla,0.0,KZ,1.596083e+09,42.0,48.68,71.64,20.22,0.76,Dostyk
438,483439.0,sao filipe,0.0,RU,1.596083e+09,47.0,44.17,45.87,23.87,1.48,"Gostevoy Dvor ""U Gul'zary"""
458,581220.0,san andres,0.0,RU,1.596083e+09,40.0,47.27,41.67,24.92,0.35,Gostinnitsa Etna
509,3164387.0,ereymentau,0.0,IT,1.596083e+09,73.0,41.88,16.18,23.00,1.00,Hotel Falcone
531,729114.0,kutum,0.0,BG,1.596083e+09,59.0,43.41,23.23,22.55,1.20,Hotel Vesta

In [13]:
indexNames = cities_df[cities_df['Wind Speed'] > 2].index
cities_df.drop(indexNames , inplace=True)
cities_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
33,3401148.0,lolua,0.0,BR,1.596083e+09,95.0,-1.83,-44.87,22.93,0.68,Pousada Través'cia
96,5808079.0,san quintin,0.0,US,1.596083e+09,61.0,47.67,-122.12,23.89,1.91,Seattle Marriott Redmond
110,3171173.0,hobart,0.0,IT,1.596083e+09,77.0,43.90,12.89,23.89,1.79,Savoy
180,3170094.0,ketchikan,0.0,IT,1.596083e+09,69.0,42.81,10.31,23.33,1.27,Hotel Villa Ombrosa
280,2017215.0,gorom-gorom,0.0,RU,1.596083e+09,47.0,63.92,127.47,21.93,1.49,
323,1526041.0,bandarbeyla,0.0,KZ,1.596083e+09,42.0,48.68,71.64,20.22,0.76,Dostyk
438,483439.0,sao filipe,0.0,RU,1.596083e+09,47.0,44.17,45.87,23.87,1.48,"Gostevoy Dvor ""U Gul'zary"""
458,581220.0,san andres,0.0,RU,1.596083e+09,40.0,47.27,41.67,24.92,0.35,Gostinnitsa Etna
509,3164387.0,ereymentau,0.0,IT,1.596083e+09,73.0,41.88,16.18,23.00,1.00,Hotel Falcone
531,729114.0,kutum,0.0,BG,1.596083e+09,59.0,43.41,23.23,22.55,1.20,Hotel Vesta

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [14]:
cities_df['Hotel Name'] = ""
cities_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
33,3401148.0,lolua,0.0,BR,1.596083e+09,95.0,-1.83,-44.87,22.93,0.68,
96,5808079.0,san quintin,0.0,US,1.596083e+09,61.0,47.67,-122.12,23.89,1.91,
110,3171173.0,hobart,0.0,IT,1.596083e+09,77.0,43.90,12.89,23.89,1.79,
180,3170094.0,ketchikan,0.0,IT,1.596083e+09,69.0,42.81,10.31,23.33,1.27,
280,2017215.0,gorom-gorom,0.0,RU,1.596083e+09,47.0,63.92,127.47,21.93,1.49,
323,1526041.0,bandarbeyla,0.0,KZ,1.596083e+09,42.0,48.68,71.64,20.22,0.76,
438,483439.0,sao filipe,0.0,RU,1.596083e+09,47.0,44.17,45.87,23.87,1.48,
458,581220.0,san andres,0.0,RU,1.596083e+09,40.0,47.27,41.67,24.92,0.35,
509,3164387.0,ereymentau,0.0,IT,1.596083e+09,73.0,41.88,16.18,23.00,1.00,
531,729114.0,kutum,0.0,BG,1.596083e+09,59.0,43.41,23.23,22.55,1.20,

In [15]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Use the lat/lng we recovered to identify hotel
for index, row in cities_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    try:
        print(name_address["results"][0]["name"])
        cities_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Pousada Través'cia
Seattle Marriott Redmond
Savoy
Hotel Villa Ombrosa
Missing field/result... skipping.
Dostyk
Gostevoy Dvor "U Gul'zary"
Gostinnitsa Etna
Hotel Falcone
Hotel Vesta

In [16]:
cities_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
33,3401148.0,lolua,0.0,BR,1.596083e+09,95.0,-1.83,-44.87,22.93,0.68,Pousada Través'cia
96,5808079.0,san quintin,0.0,US,1.596083e+09,61.0,47.67,-122.12,23.89,1.91,Seattle Marriott Redmond
110,3171173.0,hobart,0.0,IT,1.596083e+09,77.0,43.90,12.89,23.89,1.79,Savoy
180,3170094.0,ketchikan,0.0,IT,1.596083e+09,69.0,42.81,10.31,23.33,1.27,Hotel Villa Ombrosa
280,2017215.0,gorom-gorom,0.0,RU,1.596083e+09,47.0,63.92,127.47,21.93,1.49,
323,1526041.0,bandarbeyla,0.0,KZ,1.596083e+09,42.0,48.68,71.64,20.22,0.76,Dostyk
438,483439.0,sao filipe,0.0,RU,1.596083e+09,47.0,44.17,45.87,23.87,1.48,"Gostevoy Dvor ""U Gul'zary"""
458,581220.0,san andres,0.0,RU,1.596083e+09,40.0,47.27,41.67,24.92,0.35,Gostinnitsa Etna
509,3164387.0,ereymentau,0.0,IT,1.596083e+09,73.0,41.88,16.18,23.00,1.00,Hotel Falcone
531,729114.0,kutum,0.0,BG,1.596083e+09,59.0,43.41,23.23,22.55,1.20,Hotel Vesta

In [17]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in cities_df.iterrows()]
locations = cities_df[["Lat", "Lng"]]

In [18]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))